<ion-header>
  <ion-navbar>
    <ion-title>Ubah Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content hide-tabs>

    <ion-list>
      <ion-list-header color="greenbg">
        Box Saya ({{cart.length}})
      </ion-list-header>
    </ion-list>

    <ion-card *ngFor="let menu of cart; let m = index" class="cart_item" text-wrap no-padding>
        <ion-row no-padding>
            <ion-col col-5>
              <img src="https://bgmenu.kilatstorage.com/{{menu.menu_id}}.jpg" />
            </ion-col>
            <ion-col col-7>
              <div class="menu_tag" *ngIf="menu.menu_type == 3 || menu.menu_type == 5">MENU UTAMA</div>
              <div class="menu_tag" *ngIf="menu.menu_type != 3 && menu.menu_type != 5">MENU LAIN-LAIN</div>
              <div class="menu_name">{{menu.menu_name}}</div>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let menu_price of menu.menu_prices; let mp =index;" no-padding class="price_cont">
            <ion-col col-9 style="background-color:#f5f5f5">
              <div class="portion">
                <span>Porsi</span><br/>
                {{menu_price.portion}} Orang
              </div>
              <div class="price">
                  <span>Harga</span><br/>
                  IDR {{menu_price.menu_price | number : '1.0-0'}}
              </div>
            </ion-col>
            <ion-col class="btnz">
                <button clear [disabled]="menu_price.qty == 0" (click)="update(m,mp,0)">
                  <ion-icon name="remove"></ion-icon>
                </button>
            </ion-col>
            <ion-col class="qty">
              {{menu_price.qty}}
            </ion-col>
            <ion-col class="btnz">
                <button clear (click)="update(m,mp,1)">
                  <ion-icon name="add"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-card>


    <ion-list>
      <ion-list-header color="greenbg">Tambah Menu</ion-list-header>
    </ion-list>

    <ion-card *ngFor="let menu of menus; let m = index" class="cart_item" text-wrap no-padding>
      <ion-row no-padding>
        <ion-col col-5>
          <img src="https://bgmenu.kilatstorage.com/{{menu.menu_id}}.jpg" />
        </ion-col>
        <ion-col>
          <div class="menu_tag" *ngIf="menu.menu_type == 3 || menu.menu_type == 5">MENU UTAMA</div>
          <div class="menu_tag" *ngIf="menu.menu_type != 3 && menu.menu_type != 5">MENU LAIN-LAIN</div>
          <div class="menu_name">{{menu.menu_name}}</div>
        </ion-col>
      </ion-row>


      <ion-row *ngFor="let menu_price of menu.menu_prices; let mp =index;" no-padding class="price_cont">
          <ion-col col-9 style="background-color:#f5f5f5">
            <div class="portion">
              <span>Porsi</span><br/>
              {{menu_price.portion}} Orang
            </div>
            <div class="price">
                <span>Harga</span><br/>
                IDR {{menu_price.menu_price | number : '1.0-0'}}
            </div>
          </ion-col>
          <ion-col class="btnz">
            <button clear disabled><ion-icon name="remove"></ion-icon></button>
          </ion-col>
          <ion-col class="qty">
            {{menu_price.qty}}
          </ion-col>
          <ion-col class="btnz">
            <button clear (click)="plus(m,mp)">
              <ion-icon name="add"></ion-icon>
            </button>
          </ion-col>
      </ion-row>
    </ion-card>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <div class="box_qty" (click)="goUp()">
      <span>Box Saya</span> <br/>
      {{carttotal}}
    </div>
    <div class="box_price">
      <span>Total Harga</span><br/>
      IDR {{total_price | number : '1.0-0'}}
    </div>
    <ion-buttons end>
      <button ion-button icon-right color="royal" [disabled]="total_price<150000" (click)="saveOrder()">
        Simpan
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
