page-whyus {
  ion-slide {
    background-color:#03c9a9;
  }
  .slide-zoom {
    height:100%;
  }
  .slide-title {
    font-size:2rem;
  }
  p {
    font-size:1.4rem;
  }
  .toolbar-background {
    background-color:transparent;
  }
}
