<ion-header>
  <ion-navbar>
    <ion-title>SaldoBG</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div padding>
    <div class="saldobg_cont" padding>
      <div class="saldo_cont" padding>
        SaldoBG anda saat ini:
        <div class="saldobg_content">
          IDR {{saldobg | number :'1.0-0'}}
        </div>
      </div>
    </div>

    <div class="nextorder_cont" padding *ngIf="nextorder!=0" (click)="goToOrder();">
      <ion-row no-padding>
        <ion-col no-padding col-2>
          <ion-icon style="color:#03c9a9" name="arrow-back"></ion-icon>
        </ion-col>
        <ion-col no-padding col-6>
          <span class="nextorder_left">Pengiriman minggu ini</span>
        </ion-col>
        <ion-col no-padding style="text-align:right">
          <span class="nextorder_val">IDR {{nextorder | number}}</span>
        </ion-col>
      </ion-row>
    </div>
  </div>

  <div padding-horizontal>
    <ion-segment [(ngModel)]="listtype">
      <ion-segment-button value="autotopup">
        Auto-Topup
      </ion-segment-button>
      <ion-segment-button value="topup">
        Manual-Topup
      </ion-segment-button>
      <ion-segment-button value="history">
        Riwayat
      </ion-segment-button>
    </ion-segment>
  </div>


  <div [ngSwitch]="listtype" padding>
    <div *ngSwitchCase="'autotopup'" class="autotopup" padding>
      <ion-row *ngIf="autotopup == 0" no-padding>
        <ion-col class="saldo_cont" col-6>
          <br>
          <img src="https://blackgarlic.id/inc/images/saldobg/creditcardbg.png" />
        </ion-col>
        <ion-col class="saldocont" col-6 style="color:#03c9a9;">
          <b>Baru! Auto-Topup dengan Credit Card</b>
          <ion-col class="autotopup_cont" col-6>
            <p>Tambahkan credit card Anda, dan SaldoBG Anda akan terisi ulang secara otomatis sekali seminggu sebesar jumlah yang diperlukan.</p>
          </ion-col>
        </ion-col>
        <ion-col class="saldo_cont" style="font-size:12px; line-height:17px;" col-5>
          Status Auto Top Up :
          <span *ngIf="autotopup == 0" ion-text color="danger">  Non Aktif</span>
        </ion-col>
        <ion-col class="ref_c" col-7 style="float:right;">
          <button class="autotopup-btn" *ngIf="autotopup == 0" (click)="topup(1)">Tambahkan Credit Card</button>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="autotopup == 1 || autotopup ==2" no-padding>
        <ion-col class="saldo_cont">
          <p style="text-align: center; padding:0">Kartu Anda telah tersimpan</p>
          <div class="creditcard">
            <div><ion-icon name="checkmark-circle" style="font-size:40px;"></ion-icon></div>
            <div style="font-weight:100;margin-top:25px;">Card Number</div>
            <div>**** **** **** </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="autotopup == 1 || autotopup ==2" style="margin-top:30px;" no-padding>
        <ion-col class="saldo_cont" style="font-size:12px; line-height:17px;" col-5>
          Status Auto Top Up :
          <span *ngIf="autotopup == 1" ion-text color="secondary">  Aktif</span>
          <span *ngIf="autotopup == 0" ion-text color="danger">  Non Aktif</span>
          <span *ngIf="autotopup == 2" ion-text color="danger">  Paused</span>
        </ion-col>
        <ion-col class="ref_c" col-7 style="float:right;">
          <button class="autotopup-btn" *ngIf="autotopup == 2" (click)="topup(1)">Aktifkan Auto-Topup</button>
          <button class="autotopup-btn" *ngIf="autotopup == 1" (click)="topup(2)">Matikan Auto-Topup</button>
        </ion-col>
      </ion-row>
    </div>
    <br>
    <div *ngSwitchCase="'autotopup'" class="autotopup" padding>
      <ion-row no-padding>
        <ion-col class="autotopup_cont" col-12 no-padding>
          <b style="font-size:14px;">Syarat & Ketentuan tentang Auto Topup :</b>
          <ul style="padding-left:14px;">
            <li>Hanya menerima Kartu Kredit berlogo Visa dan MasterCard.</li>
            <li>BlackGarlic tidak menyimpan kartu kredit Anda. Informasi kartu kredit Anda tersimpan di DOKU.</li>
            <li>Pastikan limit kartu kredit Anda cukup sebelum hari pemotongan.</li>
            <li>Apabila Anda mau menghapus atau mengganti nomor kartu kredit Anda, silahkan menghubungi Customer Service kami.</li>
            <li>Hari topup akan dipilih sesuai hari penarikan SaldoBG, yaitu 2 hari sebelum hari pengiriman box Anda, dan tidak bisa diubah lagi. Namun Anda bisa berhenti Auto-Topup kapan saja.
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </div>

    <span *ngIf="customer_code  != ''">
      <div *ngSwitchCase="'topup'" padding class="ref_contz">
          <ion-row style="border-bottom:1px solid white">
              <ion-col col-6 class="ref_l">
                Bagikan kode referral
                dapatkan SaldoBG gratis
              </ion-col>
              <ion-col class="ref_c">
                IDR 50.000
              </ion-col>
          </ion-row>
      </div>
      <div *ngSwitchCase="'topup'" padding-left padding-right padding-bottom class="ref_conty">
          <ion-row no-padding>
                <ion-col col-3 class="cd_l">
                    Kode Anda
                </ion-col>
                <ion-col col-9 no-padding>
                  <div class="code_cont">
                      <ion-row no-padding>
                        <ion-col class="code_cnt" nowrap no-padding padding-left width-67>
                          {{customer_code}}
                        </ion-col>
                        <ion-col nowrap no-padding>
                          <button class="share-btn" (click)="shareCode()">Bagikan</button>
                        </ion-col>
                      </ion-row>
                  </div>
                </ion-col>
          </ion-row>
      </div>
    </span>

    <ion-list *ngSwitchCase="'topup'">

      <button ng-item class="topup_div" (click)="openModalVA('bca')">
        <img src="assets/saldobg/bca.png" />
        ({{bca_va}})
      </button>

      <button ng-item class="topup_div" (click)="openModalVA('permata')">
        <img src="assets/saldobg/permata.png" />
        ({{permata_va}})
      </button>

      <button ng-item class="topup_div" (click)="openModalBrowser('doku_wallet')">
        <img src="assets/saldobg/doku.png" />
        DOKU Wallet
      </button>

      <button ng-item class="topup_div" (click)="openModalBrowser('credit_card')">
        <img src="assets/saldobg/visa.png" />
        Kartu Kredit Online
      </button>

    </ion-list>



    <ion-list *ngSwitchCase="'history'">
      <table>
        <tr>
          <th>Tanggal</th>
          <th>Nominal</th>
          <th>Saldo Sebelum</th>
        </tr>
        <tr *ngFor="let hist of history">
          <td>
            {{hist.datetime | date : 'y-MM-dd'}}<br/> {{hist.datetime | date : 'HH:mm'}}
          </td>
          <td>
            <span *ngIf="hist.log_type == 2" style="color:red">
              -{{hist.amount | number}}
            </span>
            <span *ngIf="hist.log_type != 2">
              {{hist.amount | number}}
            </span>
          </td>
          <td>
            {{hist.saldobg_before | number}}
          </td>
        </tr>
      </table>
    </ion-list>

  </div>

</ion-content>
